extends ../layout
block content
  div(ng-app="app", ng-view)

  script(src='assets/components/jquery/dist/jquery.js')
  script(src='assets/components/underscore/underscore.js')
  script(src='assets/components/angular/angular.js')
  script(src='assets/components/angular-route/angular-route.js')
  script(src='assets/js/app.js')