extends layout

block content
    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/handlebars/handlebars.runtime.js')
    script(src='/bower_components/ember/ember.js')
    script(src='/bower_components/ember-data-shim/ember-data.js')
    script(src='/combined-scripts.js')